.home-container {
  width: 100%;
  height: 100%;
  background-image: url(../../../../../assets/wallpaper.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: round;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .buttons {
    width: 50%;
    margin-bottom: 5%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      text-align: center;
      background: #000;
      border: 3px solid #000;
      border-radius: 5px;
      margin: 8px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      box-shadow: 0 0 10px #000;
      text-decoration: none;
    }

    a:hover {
      cursor: pointer;
      background: none;
      border: 3px solid #000;
      color: #fff;
    }
  }
}

@media screen and (max-width: 576px) {
  .home-container {
    .buttons {
      width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .home-container {
    justify-content: flex-end;

    .buttons {
      width: 25%;
      margin-right: 5%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home-container {
    .buttons {
      max-width: 30%;
    }
  }
}
