.episodes-container {
  width: 100%;
  height: 100%;
  background-image: url(../../../../../assets/wallpaper-episodes.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datatable {
  width: 90%;
  height: 85%;

  .table {
    height: auto;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    overflow: auto;

    table {
      width: 100%;
    }
  }
}
